<div id="header-area">

    <img src="/assets/img/controller.png" alt="logotipo">

    <div id="header-main">

        <h2>
            <center> Catálogo Games </center>
        </h2>

    </div>

    <nav id="nav">


        <ul>
            <li><a href="/"> Home </a></li>
            <li><a href="#card-jogo"> Jogos </a></li>
            <li><a href="/cadastro"> Criar</a></li>
            <li><a href=""> About </a></li>
        </ul>

    </nav>

</div>